/* Add a different background color to the navbar */
.navbar {
  background-color: black; /* Your desired navbar background color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid white; */
}

/* Style the navbar logo (if needed) */
.navbar-logo img {
  width:40%;
  border-radius: 100%;
  /* Adjust the logo height as needed */
}

/* Style the links in the navbar */
.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff; /* Link text color */
  font-weight: bold;
  font-size: 17px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #FFD700; /* Change link color on hover */
}
.profile-link {
  text-decoration: none;
  color: teal;
  cursor: pointer;
  font-weight: bold;
}

.profile-link:hover {
  text-decoration: underline; /* Underline the link on hover */
}
#profile{
  background-color: white;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  border-radius: 100%;
}




.main {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  background-color: #003201;
  padding-bottom: 50px;
  color: white; /* Text color on the form */
}

form {
  width: 40%;
  margin: auto;
  background-color: rgb(196, 193, 193);
  color: black; /* Text color on the form */
  border-radius: 5px;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  display: block;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="date"],
select {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Input field background color */
}

button[type="submit"] {
  background-color: #FFD700; /* Use a contrasting color for the button */
  color: #003201; /* Text color on the button */
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #FFA500; /* Adjust the color on hover */
}
